* {
    padding: 0;
    margin: 0;
  }
  canvas {
    background: black;
    display: block;
    margin: 0 auto;
  }
  body {
    background-color: #01110A;
  }
  button {
    display: block;
    margin: auto auto;
  }