* {
    padding: 0;
    margin: 0;
  }
  canvas {
    background: #01110A;
    display: block;
    margin: 0 auto;
  }
  body {
    background-color: #00120B;
  }
  button {
    display: block;
    margin: auto auto;
  }